body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    caret-color: #333;
}

input[type="radio"] {
    margin-right: 5px;
}

#submitBtn {
    background-color: slategrey;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

#submitBtn:hover {
    background-color: #45a049;
}

.data-list {
    margin-top: 30px;
}

table {
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: skyblue;
    color: #333;
}

td button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: white;
}

td button:hover {
    background-color: #e68900;
}

td button:nth-child(2) {
    background-color: #f44336;
}

td button:nth-child(2):hover {
    background-color: #d32f2f;
}

tr:hover {
    background-color: whitesmoke;
}

.hobby{
    display: flex;
    gap: 5px;
}